@model Assmnts.Models.GeneralForm
@using Assmnts.Models;
@{
    Layout = "LA_AdapAppLayout.cshtml";
}
@section AddtoHead{
    <link rel="stylesheet" type="text/css" href="/Content/adap/css/ADAPForms.css" />
    <script src="~/Content/js/ADAPLookupSelects.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/Validate.js"></script>
    <link href="~/stylesheets/Validate.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {

            @foreach(string suffix in new string[] { "State", "Freq", "DueDate", "PastDue"})
        {
            string lookupCode = (suffix == "State" ? "state" : "LA_ADAP_InsPrem_" + suffix + "Drop");
            foreach (string str in new string[] { "Prim", "Second" })
            {
                string identifier = "LA_ADAP_InsPrem_" + str + "C" + suffix;
                @:populateLookupSelect('@lookupCode', '@identifier', '@Model.rspValues[identifier]');
                                    }
        }

            $('.class_dob_input').inputmask("99/99/9999");
            $('.class_zip_code').inputmask("99999[-9999]");
            setApplicationProgressIndicator(10);

        $('.class_nextscreen').click(function () {

            var nextScreenIdentifier = '@(((TemplateAdapNavMenu)Model.navMenuModel).sectionIds["LA_ADAP_Diagnosis"])';  //By default, the next screen is Diagnosis.

            if ($('#LA_ADAP_HaveInsNotHealth').val() == "true")                                                         //Otherwise, if "Yes.  I have dental..." was checked...
                nextScreenIdentifier = '@(((TemplateAdapNavMenu)Model.navMenuModel).sectionIds["LA_ADAP_DentPolicy"])'; //...the next screen is Dental Policy.

            SubmitForm('@(((TemplateAdapNavMenu)Model.navMenuModel).adapPartId)', nextScreenIdentifier);

        });

            $('.input-group.date').datepicker({
                autoclose: true,
                format: 'mm/dd/yyyy'
            });
        });

    </script>

}


<div style="display:none">
    @Helpers.TextInput(Model, "LA_ADAP_HaveInsNotHealth", new { @class = "form-control" })
</div>

@{int i = 1;}
@foreach (string str in new string[] { "Prim", "Second" })
{
    if (str == "Second")
    {
        <div class="form-group">
            <div class="col-md-6">
                @Helpers.LabelSpan(Model, "LA_DoYouHaveSecHealthIns_item", new { @class = "control-label" })
            </div>
            @Helpers.YesNoRadioButtons(Model, "LA_DoYouHaveSecHealthIns")
        </div>
        @*<span style="color:Red">Should there be a question, do you have secondary insurance here?</span><br><br>*@
        <p style='display:none' id="hidetitle"><span class="label label-danger" style="font-size:15px;">Secondary Insurance</span></p>
    }

    if (str == "Second")
    {
        @Html.Raw("<div class='panel panel-default'  style='display:none' id='" + @str + "'>")
    }
    else
    {
        @Html.Raw("<div class='panel panel-default '" + @str + "'>")

    }
    <div class="panel-body" style=" background-color:#f8f8f8">
        <div class="form-group">
            @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CProvider_item", new { @class = "col-md-6 control-label" })
            <div class="col-md-4">
                @Helpers.TextInput(Model, "LA_ADAP_InsPrem_" + str + "CProvider", new { @class = "form-control" })
            </div>
        </div>
        <hr>
        <div class="form-group">
            @*<label style="text-align:left;font-weight:normal" class="bottom-buffer-15" for="">
                    <i class="glyphicon glyphicon-arrow-right" style="color:Red"></i> &nbsp;&nbsp;
                    @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CStreet_item", new { @class = "control-label" })
                </label>*@
            <div class="col-md-5">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CStreet_item", new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Helpers.TextInput(Model, "LA_ADAP_InsPrem_" + str + "CStreet", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CCity_item", new { @class = "col-md-6 control-label" })
            </div>
            <div class="col-md-3">
                @Helpers.TextInput(Model, "LA_ADAP_InsPrem_" + str + "CCity", new { @class = "form-control" })
            </div>
            <div class="col-md-1">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CState_item", new { @class = "col-md-6 control-label" })
            </div>
            <div class="col-md-2">
                @Helpers.DropDownList(Model, "LA_ADAP_InsPrem_" + str + "CState_item", "LA_ADAP_InsPrem_" + str + "CState")
            </div>
            <div class="col-md-1">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CZipCode_item", new { @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Helpers.TextInput(Model, "LA_ADAP_InsPrem_" + str + "CZipCode", new { @class = "form-control class_zip_code", datavalidate = "true", datavalidationmessage = "Enter Valid Zip Code", datadv = "zipCode" })
                <span class="icon"></span>
                <label class="lbl-error error"></label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-6">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CPortion_item", new { @class = "control-label" })
                @Helpers.ToolTipFromItemPrompt(Model, "LA_ADAP_InsPrem_" + str + "CCity_item", new { @class = "pointer fa fa-question-circle text-primary fa-1x" })
            </div>
            <div class="col-md-3">
                @Helpers.TextInput(Model, "LA_ADAP_InsPrem_" + str + "CPortion", new { @class = "form-control", datavalidate = "true", datavalidationmessage = "What is the applicant's portion of the primary health premium amount?", datadv = "Allow0to9Numbers", onblur = "currencyTextBoxOnBlur(this);", onkeyup = "javascript:this.value=Comma(this.value);" })
                <span class="icon"></span><label class="lbl-error error"></label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-6">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CFreq_item", new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                @Helpers.DropDownList(Model, "LA_ADAP_InsPrem_" + str + "CFreq_item", "LA_ADAP_InsPrem_" + str + "CFreq")
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-3">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CNext_item", new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                <div class="input-group date">
                    @Helpers.TextInput(Model, "LA_ADAP_InsPrem_" + str + "CNext", new { @class = "form-control class_dob_input", placeholder = "mm/dd/yyyy" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col-md-3">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CDueDate_item", new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                @Helpers.DropDownList(Model, "LA_ADAP_InsPrem_" + str + "CDueDate_item", "LA_ADAP_InsPrem_" + str + "CDueDate")
            </div>
        </div>
        <!-- show if other selected above -->
        <div class=@("divOther" + str)>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-6">
                    @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "COtherDue_item", new { @class = "control-label" })
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="" id="" maxlength="" />
                </div>
            </div>
        </div>
        <!-- end show if other selected above -->
        <hr>
        <div class="form-group">
            <div class="col-md-6">
                @Helpers.LabelSpan(Model, "LA_ADAP_InsPrem_" + str + "CPastDue_item", new { @class = "control-label" })
                @Helpers.ToolTipFromItemPrompt(Model, "LA_ADAP_InsPrem_" + str + "CState_item", new { @class = "pointer fa fa-question-circle text-primary fa-1x" })
            </div>
            <div class="col-md-3">
                @Helpers.DropDownList(Model, "LA_ADAP_InsPrem_" + str + "CPastDue_item", "LA_ADAP_InsPrem_" + str + "CPastDue")
            </div>
        </div>
    </div>

    @Html.Raw("</div>")


}
<script type="text/javascript">
    $(function () {
        function ShoworhidepSecondinsu(checked) {
            if (checked == 1) {
                $("#Second").css("display", "block");
                $('#hidetitle').show();
            }
            else {

                $("#Second").css("display", "none");
                $('#hidetitle').hide();
            }
        }
        ShoworhidepSecondinsu();

        $('input[name=LA_DoYouHaveSecHealthIns]').change(function (e) {
            var j = $('input[name=LA_DoYouHaveSecHealthIns]:checked').val();
            ShoworhidepSecondinsu(j);
        }).change();

        function ShowhideotherPrimary() {
            var selectedText = $("#LA_ADAP_InsPrem_PrimCDueDate").find("option:selected").text();
            var selectedValue = $("#LA_ADAP_InsPrem_PrimCDueDate").val();
            //alert("Selected Text: " + selectedText + " Value: " + selectedValue);
            //2-other
            debugger;
            if (selectedText == "other") {
                $(".divOtherPrim").show();
            }
            else {
                $(".divOtherPrim").hide();
            }
        }
        function ShowhideotherSecondary() {
            var selectedText = $("#LA_ADAP_InsPrem_SecondCDueDate").find("option:selected").text();
            var selectedValue = $("#LA_ADAP_InsPrem_SecondCDueDate").val();
            //alert("Selected Text: " + selectedText + " Value: " + selectedValue);
            //2-other
            debugger;
            if (selectedText == "other") {
                $(".divOtherSecond").show();
            }
            else {
                $(".divOtherSecond").hide();
            }
        }

        $("#LA_ADAP_InsPrem_PrimCDueDate").change(function () {
            ShowhideotherPrimary();
        }).change();

        $("#LA_ADAP_InsPrem_SecondCDueDate").change(function () {
            ShowhideotherSecondary();
        }).change();

        ShowhideotherPrimary();
        ShowhideotherSecondary();
    });
</script>


