@model Assmnts.Models.ForgotPasswordModel
@{
    
}
<style>
    label {
        padding-right: 10px;
    }
    .warning {
        color: red;
    }
</style>

<script>
    $(document).ready(function () {

        $("#checkForUser").submit(function (event) {

            event.preventDefault();
            var data = $("form").serialize();
            
            $("#noUserFoundLabel").hide();
            $.ajax({
                url: "@(Url.Action("CheckForUser", "Account"))",
                type: "POST",
                cache: false,
                data: data,
            async: true,
            success: function (result) {
                if (result == "false") {
                    $("#noUserFoundLabel").show();
                } else if (result == "qError")
                {
                    $("#errorQuestionsLabel").show();
                }
                else {
                    var userQuestions = result.split("::");
                    var user = userQuestions[0];
                    var questions = userQuestions[1].split("\n");

                   // var qHtml = "<form id=\"qForm\" name=\"qForm\">";
                    var qHtml = "<input id=\"user\" name=\"user\" value=\"" + user + "\" hidden=\"hidden\" />";

                    var i = 0;
                    for (q in questions) {
                        qHtml += "<div style=\"border: none; padding:8px;\" class=\"question\">";
                        qHtml += "<label style=\"display:inline-block;width:300px;\" for=\"q" + i + "\">" + questions[q] + "</label>";
                        qHtml += "<input style=\"display:inline-block;\" id=\"q" + i + "\" name=\"q" + i + "\" type=\"text\" class=\"textfield\" />";
                        qHtml += "</div>";
                        i++;                       
                    }
                     //   alert(qHtml);
                    $("#userForm").hide();
                    $("#innerQForm").html(qHtml);
                    $("#questionForm").show();


                }
            }
            });
        });

        $("#qForm").submit(function (event) {
            $("#incorrectAnswersLabel").hide();

            event.preventDefault();
            var data = JSON.stringify($("#qForm").serializeArray());

           // alert(data);

            $.ajax({
                url: "@(Url.Action("CheckUserAnswers", "Account"))",
                type: "POST",
                cache: false,
                data: { "results": data },
                async: true,
                success: function (result) {
                    //alert(result);
                    if (result == "true") {
                        $("#questionForm").hide();
                        $.ajax({
                            url: "@(Url.Action("displaySetPassword", "Account"))",
                            type: "POST",
                            cache: false,
                            async: true,
                            success: function (result) {
                                $("#newPass").html(result);
                            }
                        });
                        $("#newPass").show();
                    } else {
                        $("#incorrectAnswersLabel").show();
                    }
                },
                error: function () {
                    alert("Error!");
                }
            });
        });

    });


</script>

<div id="userForm">
    @using (Html.BeginForm("checkForUser", "Account", FormMethod.Post, new { id = "checkForUser"}))
    {
        @Html.LabelFor(m => m.userNameOrEmail)
        @Html.TextBoxFor(m => m.userNameOrEmail, new { style = "margin:3px; padding:3px;" })

        <input type="submit" />
    <div id="noUserFoundLabel" class="warning" hidden="hidden">No matching user found.</div>
    <div id="errorQuestionsLabel" class="warning" hidden="hidden">Error retrieving password reset questions/answers.</div>
    }
</div>
<div id="questionForm" hidden="hidden">
    <form id="qForm" name="qForm">
        <div id="innerQForm">


        </div>
        <input type="submit" />
        <div id="incorrectAnswersLabel" class="warning" hidden="hidden">Incorrect answers.</div>
    </form>
</div>

<div id="newPass" hidden="hidden">
  
    

</div>