@model Assmnts.Models.ForgotPasswordModel

<script>
    $(document).ready(function () {
        $("#userId").val($("#user").val());

        $("#setNewPassword").submit(function (event) {
            event.preventDefault();
            $("#passwordsNotMatch").hide();


            var p1 = $("#newPassword").val();
            var p2 = $("#verifyPassword").val();

            if (p1 != p2) {
                $("#passwordsNotMatch").show();
                return;
            }

            var data = $("#setNewPassword").serialize();

            $.ajax({
                url: "@(Url.Action("SetNewPassword", "Account"))",
                type: "POST",
                cache: false,
                data: data,
                async: true,
                success: function (result) {
                    if (result == "true") {
                        alert("Password successfully changed.");
                        location.reload(true);
                        
                    } else {
                        alert("Could not change password.")
                    }
                },
                error: function () {
                    alert("Error! Unable to change password.");
                }
            });

        });
    });
</script>
@using (Html.BeginForm("setNewPassword", "Account", FormMethod.Post, new { id = "setNewPassword" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBoxFor(m => m.userId, new { id="userId", hidden="hidden"} )
    </div>
    
    <div style="padding:5px;">
        @Html.LabelFor(m => m.newPassword, new { style = "display:inline-block;width:150px;"})
        @Html.PasswordFor(m => m.newPassword, new { id = "newPassword", style = "display:inline-block;"})
        </div>
    <div style="padding:5px;">
        @Html.LabelFor(m => m.verifyPassword, new { style = "display:inline-block; width:150px;"})
        @Html.PasswordFor(m => m.verifyPassword, new { id = "verifyPassword", style = "display:inline-block;" })
    </div>


    <input type="submit" value="Save Password" />
    <div id="passwordsNotMatch" class="warning" hidden="hidden">Passwords do not match.</div>
}
