@{
    ViewBag.Title = "Interview and Profile";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    Validator.Required("The field is required.");
}

@section HeadContent {

    @{
        Response.Cookies.Add(new HttpCookie("ASP.NET_SessionId", ""));
    }

    <link rel="stylesheet" type="text/css" href="/Content/css/sitewide.css">
    <link rel="alternate stylesheet" type="text/css" media="screen" title="medium" href="/Content/css/sitewide2.css">
    <link rel="alternate stylesheet" type="text/css" media="screen" title="large" href="/Content/css/sitewide3.css">
    <script language="JavaScript" src="/content/js/textchanger.js" type="text/javascript"></script>

    <script>
        $(document).ready(function() {


            $("#forgotPassword").click(function() {
                $.ajax({
                    url: "@(Url.Action("ForgotPassword", "Account"))",
                    type: "GET",
                    cache: false,
                    async: true,
                    success: function(result) {
                        $("#forgotPartialView").html(result);
                        $("#forgotPartialView").show();
                        $("#forgotTable").show();
                        $("#sisLogin").hide();
                    }
                });
            });

            if ('@Session["VentureForgot"]' == "true") {
                $("#forgotPassword").click();
            }
        });
    </script>

    <style>
        .textfield {
            height: 15px;
            width: 150px;
            border: 1px solid #7b7d7b;
        }

        /*change top and left below to effect the way the 
         right-side elements overlap with the logo*/
        .offset {
            position: relative;
            top: 20px;
            left: 20px;

        }

        #logo {

            width: 450px;
        }

        #sisAsisCLogos {
            font-size: 10px;
            position: relative;
            top: 60px;
        }

        .box {
            display: inline-block;

        }

        #sisC {



        }

        #sisA {

        }

        #sisALogo {
            width: 200px;
        }

        #sisCLogo {
            width: 200px;
        }

        #text {
            position: relative;
            top: 100px;
            width: 450px;
        }

        .heading {
            height: 40px;
        }

        td {
            font-size: 13px;
        }
        #forgotPassword, #forgotUsername {
            font-size: 13px;
        }
    </style>

    <script type="text/javascript">
        var RecaptchaOptions = {
            theme: 'clean'
        };
    </script>


}

    <table border="0" cellpadding="0" cellspacing="0" style="background-color: #106296">
        <tr>
            <td style="height: 26px" align="left" valign="middle">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <span class="whitelarge">&nbsp;&nbsp;American Association on Intellectual and Developmental Disabilities (AAIDD)</span>
                        </td>
                        <td id="ctl00_celTopMenu" style="width: 200px"></td>

                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="background-color: #106296">
                                <tr>
                                    <td style="height: 17px">&nbsp;</td>
                                    <td style="width: 17px" align="right">
                                        <a href="javascript:chooseStyle('none', 60)">
                                            <img src="/Content/images/font-small.gif" alt="Small font" style="border-width: 0px"/></a>
                                    </td>
                                    <td style="width: 4px"></td>
                                    <td style="width: 17px" align="right">
                                        <a href="javascript:chooseStyle('medium', 60)">
                                            <img src="/Content/images/font-medium.gif" alt="Medium font" style="border-width: 0px"/></a>
                                    </td>
                                    <td style="width: 4px"></td>
                                    <td style="width: 17px" align="right">
                                        <a href="javascript:chooseStyle('large', 60)">
                                            <img src="/Content/images/font-large.gif" alt="Large font" style="border-width: 0px"/></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="background-color: #ffffff; height: 1px"></td></tr>
        <tr><td style="background-color: #d5d5d5; height: 8px"></td></tr>
        <tr><td style="background-color: #999999; height: 1px"></td></tr>
    </table>
    <div class="content">
        <br/>
        <table id="tblData" cellpadding="0" cellspacing="0" style="height: 100%;">
            <tr>
                <td>

                    <img id="logo" src="~/Content/images/SISOnline logo_7-9-2015.png"/>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @using (Html.BeginForm("LoginUAS", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div id="sisLogin">
                            <table style="width: 400px; height: 250px" border="0" cellpadding="5" cellspacing="0" class="tableborder offset content">
                                <tr class="heading" style="background-color: #d3d3d3;">
                                    <td style="width: 20px"><img style="width: 20px" alt="Login" src="/Content/images/login.gif"/></td>
                                    <td><span style="font-size: 13px;" class="titleblack">Login to the SIS System</span></td>
                                </tr>
                                <tr style="background-color: white">
                                    <td colspan="2">
                                        <table cellpadding="4" cellspacing="0" border="0">
                                            <tr><td colspan="2"></td></tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span style="color: red" id="errors" tabindex="0">@ViewBag.ErrorMessage</span>
                                                </td>
                                            </tr>
                                            <tr><td colspan="2"></td></tr>
                                            <tr>
                                                <td width="50">Username:</td>
                                                <td align="left" width="600">
                                                    <input style="height: 20px; width: 200px; font-size: 13px;" type="text" name="userName" class="textfield"/>
                                                </td>
                                            </tr>
                                            <tr><td colspan="2"></td></tr>
                                            <tr>
                                                <td width="50">Password:</td>
                                                <td align="left" width="600">
                                                    <input style="height: 20px; width: 200px; font-size: 13px;" type="password" name="pwrd" maxlength="23" class="textfield"/>
                                                </td>
                                            </tr>
                                            <tr><td colspan="2"></td></tr>
                                            @if (ViewBag.ShowCaptcha != null && ViewBag.ShowCaptcha == true)
                                            {
                                                <tr>
                                                    <td id="pnlCaptcha" colspan="2">
                                                        <br />
                                                        <script type="text/javascript"
                                                                src="https://www.google.com/recaptcha/api/challenge?k=6Le8VfISAAAAAOQymgAdVgb_nCWxQ7RFFZBtDo1t">

                                                        </script>
                                                        <noscript>
                                                            <iframe src="https://www.google.com/recaptcha/api/noscript?k=6Le8VfISAAAAAOQymgAdVgb_nCWxQ7RFFZBtDo1t"
                                                                    height="300" width="500" frameborder="0"></iframe><br />
                                                            <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                                                            <input type="hidden" name="recaptcha_response_field"
                                                                   value="manual_challenge">
                                                        </noscript>
                                                    </td>
                                                </tr>
                                            }
                                           
                                            <tr>
                                                <td colspan="2"><input style="width: 60px; height: 30px;" type="submit" value="Login"/></td>
                                            </tr>



                                        </table>
                                        <br/>

                                        <div style="display: inline-block; position: relative; left: 10px;">Version @ViewBag.Version</div>
                                        <br/>
                                        <div style="display: inline-block; position: relative; left: 10px;"><a href="#" id="forgotPassword">Forgot Your Password?</a>
                                        </div>

                                    </td>
                                </tr>

                            </table>
                        </div>

                        <br/>
                        <table id="forgotTable" style="width: 100%" border="0" cellpadding="5" cellspacing="0" class="tableborder offset content" hidden="hidden">
                            <tr class="heading" style="background-color: #d3d3d3;">
                                <td><span class="titleblack">Forgotten Password</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="forgotPartialView"></div></td>
                            </tr>
                        </table>
                        <br/>



                    }

                </td>



            </tr>

        </table>
        <div id="sisAsisCLogos">
            <div id="sisA" class="box">
                <img id="sisALogo" src="~/Content/images/SIS-A_logo_Small.jpg"/>
                <br/>
                SUPPORTS INTENSITY SCALE-ADULT VERSION&#8482;
            </div>

            <div id="sisC" class="box">
                <img id="sisCLogo" src="~/Content/images/SIS-C_logo_Small.jpg"/> <br/>

                SUPPORTS INTENSITY SCALE-CHILDREN'S VERSION&#8482;
            </div>

        </div>
        <div id="text">

            Supports Intensity Scale and SISOnline are published by the American Association on Intellectual and Developmental Disabilities.

            Copyright &#0169; 2004 by the American Association on Intellectual and Developmental Disabilities.
            All rights reserved.
            May not be reproduced in whole or part in any form or by any means without the written permission of the American Association on Intellectual and Developmental Disabilities.
        </div>
    </div> 