@model Assmnts.Models.AccessLog
<script>
    $(document).ready(function () {
        count = @Model.count;
    });
</script>
<div id="tableResults">
    <table id="searchTable" class="table table-striped table-bordered" cellspacing="0" style="width: 100%">
        <thead>
            <tr>
                <th>Form Result ID</th>
                <th>Recipient Name</th>
                <th>Enterprise</th>
                <th>User</th>
                <th>Date Accessed</th>
                <th>Function</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Assmnts.def_AccessLogging d in Model.accessLogs)
            {
                <tr>
                    <td>@d.formResultId</td>
                    <td>@Model.recipNameDict[d.accessLoggingId]</td>
                    <td>@Model.enterpriseDict[d.EnterpriseID]</td>
                    <td>@Model.usersDict[d.UserID]</td>
                    <td>@d.datetimeAccessed</td>
                    <td>@Model.functionDict[d.accessLogFunctionId]</td>
                    <td>@d.accessDescription</td>
                </tr>
            }
        </tbody>
    </table>
</div>


