@model Assmnts.Models.JurisdictionUnitModel

@{
    Layout = "~/Views/CAADAP/BaseAppLayoutNoForm.cshtml";
}


    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit&nbsp;@Model.Jurisdiction</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Unit, Model.Units, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Save" class="btn btn-md btn-success btn-block" />
                        @Html.ActionLink("Cancel", "Jurisdiction", null, new { @class = "btn btn-md btn-danger btn-block" })
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.GroupId)
        }
    </div>

