@model Assmnts.Models.GeneralForm
@{
    Layout = "AdapAppLayout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" type="text/css" href="/Content/adap/css/ADAPForms.css" />


    <script src="~/Content/js/ADAPLookupSelects.js"></script>

    <script>

        $(document).ready(function() {

            @foreach (string shortName in new string[] { "MDiagnosisNotificationType", "HIVViralLoadTestType", "MemberHIVStatus", "MemberAdvisedHepatitisC" })
            {
                string identifier = "C1_" + shortName;
                @:populateLookupSelect('@identifier', '@identifier', '@Model.rspValues[identifier]');
                @:populateLookupSelect('@identifier', 'PREVIOUS_@identifier', '@Model.rspValues["PREVIOUS_" + identifier]');
            }
        });
    </script>
}

<!-- M1 first diag -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><button data-prevdiv="PreviousM1" class="btn" type="button"></button></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal" data-label="M1. @Model.sctTitles["ADAP_M1"]"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label pull-left" for="" style="text-align:left">M1. @Model.sctTitles["ADAP_M1"]</label>

            @Helpers.LabelSpan(Model, "C1_MemberDiagnosisYear", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberDiagnosisYear", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MDiagnosisNotificationType", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Helpers.DropDownList(Model, "C1_MDiagnosisNotificationType", "C1_MDiagnosisNotificationType")
            </div>
        </div>
        <div class="form-group">
            @Helpers.LabelSpan(Model, "C1_HIVViralLoad", new { @class = "col-md-5 control-label" })
            <div class="col-md-3">
                @Helpers.TextInput(Model, "C1_HIVViralLoad", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_HIVViralLoadDate", new { @class = "col-sm-3 control-label required" })
            <div class="col-sm-3">
                <div class="input-group date">
                    @Helpers.TextInput(Model, "C1_HIVViralLoadDate", new { @class = "form-control", placeholder = "mm/dd/yyyy" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            @Helpers.LabelSpan(Model, "C1_HIVViralLoadTestType", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Helpers.DropDownList(Model, "C1_HIVViralLoadTestType", "C1_HIVViralLoadTestType")
            </div>
            <div class="form-group">
                @Helpers.LabelSpan(Model, "C1_HIVViralLoadProof", new { @class = "col-md-4 control-label" })
                @Helpers.FileUpload(Model, "C1_HIVViralLoadProof")
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                @Helpers.LabelSpan(Model, "C1_MemberDiagnosisProof", new { @class = "col-md-4 control-label" })
                @Helpers.FileUpload(Model, "C1_MemberDiagnosisProof")
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberHIVStatus", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Helpers.DropDownList(Model, "C1_MemberHIVStatus", "C1_MemberHIVStatus")
            </div>

        </div>
        <div class="form-group">
            @Helpers.LabelSpan(Model, "C1_MemberCD4Count", new { @class = "col-md-5 control-label" })
            <div class="col-md-3">
                @Helpers.TextInput(Model, "C1_MemberCD4Count", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberCD4CountDate", new { @class = "col-sm-3 control-label required" })
            <div class="col-sm-3">
                <div class="input-group date">
                    @Helpers.TextInput(Model, "C1_MemberCD4CountDate", new { @class = "form-control", placeholder = "mm/dd/yyyy" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                @Helpers.LabelSpan(Model, "C1_MemberCD4CountProof", new { @class = "col-md-4 control-label" })
                @Helpers.FileUpload(Model, "C1_MemberCD4CountProof")
            </div>

        </div>

    </div>
</div>

<!-- PREVIOUS M1 first diag -->
<div class="panel panel-default previous-response" id="PreviousM1">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><a href="#" class="btn btn-success btn-xs active" id="hsName" role="button">&nbsp;</a></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label pull-left" for="" style="text-align:left">M1. @Model.sctTitles["ADAP_M1"]</label>

            @Helpers.LabelSpan(Model, "C1_MemberDiagnosisYear", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberDiagnosisYear", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MDiagnosisNotificationType", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Helpers.DropDownList(Model, "PREVIOUS_C1_MDiagnosisNotificationType", "PREVIOUS_C1_MDiagnosisNotificationType")
            </div>
        </div>
        <div class="form-group">
            @Helpers.LabelSpan(Model, "C1_HIVViralLoad", new { @class = "col-md-5 control-label" })
            <div class="col-md-3">
                @Helpers.TextInput(Model, "PREVIOUS_C1_HIVViralLoad", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_HIVViralLoadDate", new { @class = "col-sm-3 control-label required" })
            <div class="col-sm-3">
                <div class="input-group date">
                    @Helpers.TextInput(Model, "PREVIOUS_C1_HIVViralLoadDate", new { @class = "form-control", placeholder = "mm/dd/yyyy" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            @Helpers.LabelSpan(Model, "C1_HIVViralLoadTestType", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Helpers.DropDownList(Model, "PREVIOUS_C1_HIVViralLoadTestType", "PREVIOUS_C1_HIVViralLoadTestType")
            </div>
            <div class="form-group">
                @Helpers.LabelSpan(Model, "C1_HIVViralLoadProof", new { @class = "col-md-4 control-label" })
                @Helpers.FileUpload(Model, "PREVIOUS_C1_HIVViralLoadProof")
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                @Helpers.LabelSpan(Model, "C1_MemberDiagnosisProof", new { @class = "col-md-4 control-label" })
                @Helpers.FileUpload(Model, "PREVIOUS_C1_MemberDiagnosisProof")
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberHIVStatus", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Helpers.DropDownList(Model, "PREVIOUS_C1_MemberHIVStatus", "PREVIOUS_C1_MemberHIVStatus")
            </div>

        </div>
        <div class="form-group">
            @Helpers.LabelSpan(Model, "C1_MemberCD4Count", new { @class = "col-md-5 control-label" })
            <div class="col-md-3">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberCD4Count", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberCD4CountDate", new { @class = "col-sm-3 control-label required" })
            <div class="col-sm-3">
                <div class="input-group date">
                    @Helpers.TextInput(Model, "PREVIOUS_C1_MemberCD4CountDate", new { @class = "form-control", placeholder = "mm/dd/yyyy" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                @Helpers.LabelSpan(Model, "C1_MemberCD4CountProof", new { @class = "col-md-4 control-label" })
                @Helpers.FileUpload(Model, "PREVIOUS_C1_MemberCD4CountProof")
            </div>

        </div>
    </div>
</div>

<!-- M2 aids -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><button data-prevdiv="PreviousM2" class="btn" type="button"></button></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal" data-label="M2. @Model.sctTitles["ADAP_M2"]"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label" style="text-align:left">M2. @Model.sctTitles["ADAP_M2"]</label>
            <div class="col-md-3">
                @Helpers.DropDownList(Model, "C1_MemberAdvisedHepatitisC", "C1_MemberAdvisedHepatitisC")
            </div>
        </div>
        <div class="form-group">
            @Helpers.LabelSpan(Model, "C1_MemberReceivingHepCTreatment", new { @class = "col-md-4 control-label" })
            @Helpers.YesNoRadioButtons(Model, "C1_MemberReceivingHepCTreatment")
        </div>
    </div>
</div>

<!-- PREVIOUS M2 aids -->
<div class="panel panel-default previous-response" id="PreviousM2">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><a href="#" class="btn btn-success btn-xs active" id="hsName" role="button">&nbsp;</a></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label" style="text-align:left">M2. @Model.sctTitles["ADAP_M2"]</label>
            <div class="col-md-3">
                @Helpers.DropDownList(Model, "PREVIOUS_C1_MemberAdvisedHepatitisC", "PREVIOUS_C1_MemberAdvisedHepatitisC")
            </div>
        </div>
        <div class="form-group">
            @Helpers.LabelSpan(Model, "C1_MemberReceivingHepCTreatment", new { @class = "col-md-4 control-label" })
            @Helpers.YesNoRadioButtons(Model, "PREVIOUS_C1_MemberReceivingHepCTreatment")
        </div>
    </div>
</div>

<!-- M3 hep c -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><button data-prevdiv="PreviousM3" class="btn" type="button"></button></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal" data-label="M3. @Model.sctTitles["ADAP_M3"]"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label pull-left" for="" style="text-align:left">M3. @Model.sctTitles["ADAP_M1"]</label>

            @Helpers.LabelSpan(Model, "C1_MemberPhysicianName", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianName", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianNPI", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianNPI", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianLicense", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianLicense", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">

            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrLine1", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianAddrLine1", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrCity", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianAddrCity", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrState", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianAddrState", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrZip", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianAddrZip", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">

            @Helpers.LabelSpan(Model, "C1_MemberPhysicianNote", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "C1_MemberPhysicianNote", new { @class = "form-control" })
            </div>

        </div>
    </div>
</div>

<!-- PREVIOUS M3 hep c -->
<div class="panel panel-default previous-response" id="PreviousM3">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><a href="#" class="btn btn-danger btn-xs active" id="hsName" role="button">&nbsp;</a></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label pull-left" for="" style="text-align:left">M3. @Model.sctTitles["ADAP_M1"]</label>

            @Helpers.LabelSpan(Model, "C1_MemberPhysicianName", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianName", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianNPI", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianNPI", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianLicense", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianLicense", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">

            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrLine1", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianAddrLine1", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrCity", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianAddrCity", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrState", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianAddrState", new { @class = "form-control" })
            </div>
            @Helpers.LabelSpan(Model, "C1_MemberPhysicianAddrZip", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianAddrZip", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">

            @Helpers.LabelSpan(Model, "C1_MemberPhysicianNote", new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Helpers.TextInput(Model, "PREVIOUS_C1_MemberPhysicianNote", new { @class = "form-control" })
            </div>

        </div>

    </div>
</div>



<!-- M4 which clinic -->
@*<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><button data-prevdiv="PreviousM4" class="btn" type="button"></button></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal" data-label="M4. @Model.sctTitles["ADAP_M4"]"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label" style="text-align:left">M4. @Model.sctTitles["ADAP_M4"]</label>
            <div class="col-md-3">
               
                <select class="form-control" id="ADAP_M4_Clinic" name="ADAP_M4_Clinic"></select>
            </div>
        </div>
    </div>
</div>*@

<!-- PREVIOUS M4 which clinic -->
@*<div class="panel panel-default previous-response" id="PreviousM4">
    <div class="panel-body">
        <div class="pull-right prevAppBtn"><a href="#" class="btn btn-success btn-xs active" id="hsName" role="button">&nbsp;</a></div>
        <div class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CmntModal"><span class="glyphicon glyphicon-comment"></span></button></div>
        <div class="form-group">
            <label class="col-md-6 control-label" style="text-align:left">M4. @Model.sctTitles["ADAP_M4"]</label>
            <div class="col-md-3">
                
                <select class="form-control" id="PREVIOUS_ADAP_M4_Clinic" name="PREVIOUS_ADAP_M4_Clinic"></select>
            </div>
        </div>
    </div>
</div>*@

<!-- Comments Modal -->
@*@Html.Partial("_AdapCommentModal", Model)*@